.elementor-25935 .elementor-element.elementor-element-3aaed062 > .elementor-container {max-width: 650px;}
.elementor-25935 .elementor-element.elementor-element-3aaed062 {margin-top: -100px;margin-bottom: 0px;}
.elementor-25935 .elementor-element.elementor-element-3cab26e0 .elementor-spacer-inner {height: 30px;}
.elementor-25935 .elementor-element.elementor-element-18dde2b3 {text-align: left;}
.elementor-25935 .elementor-element.elementor-element-18dde2b3 .elementor-image img {width: 40px;max-width: 40px;height: 40px;border-style: solid;border-width: 2px 2px 2px 2px;border-color: #fff;border-radius: 100% 100% 100% 100%;box-shadow: 0px 0px 38px 0px rgba(0,0,0,.19);}
.elementor-25935 .elementor-element.elementor-element-18dde2b3 > .elementor-widget-container {margin: 30px 0px 0px 0px;}
.elementor-25935 .elementor-element.elementor-element-5880987 .elementor-heading-title {color: #333;font-size: 16px;mix-blend-mode: multiply;}
.elementor-25935 .elementor-element.elementor-element-5880987 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
body:not(.rtl) .elementor-25935 .elementor-element.elementor-element-5880987 {left: 59px;}
body.rtl .elementor-25935 .elementor-element.elementor-element-5880987 {right: 59px;}
.elementor-25935 .elementor-element.elementor-element-5880987 {top: 91px;}
.elementor-25935 .elementor-element.elementor-element-29e98b76 .elementor-text-editor {text-align: left;}
.elementor-25935 .elementor-element.elementor-element-29e98b76 {color: #999;font-size: 12px;top: 114px;}
body:not(.rtl) .elementor-25935 .elementor-element.elementor-element-29e98b76 {left: 60px;}
body.rtl .elementor-25935 .elementor-element.elementor-element-29e98b76 {right: 60px;}
.elementor-25935 .elementor-element.elementor-element-4bcfc22f {--divider-border-style: solid;--divider-color: #dedede;--divider-border-width: .5px;}
.elementor-25935 .elementor-element.elementor-element-4bcfc22f .elementor-divider-separator {width: 100%;}
.elementor-25935 .elementor-element.elementor-element-4bcfc22f .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-25935 .elementor-element.elementor-element-5c7cc6d4 {color: #3d3d3d;font-family: "Allan",Sans-serif;font-size: 18px;font-weight: normal;line-height: 36px;}
@media (max-width:767px) {.elementor-25935 .elementor-element.elementor-element-3aaed062 {padding: 25px 25px 25px 25px;}
	.elementor-25935 .elementor-element.elementor-element-3cab26e0 .elementor-spacer-inner {height: 10px;}
	.elementor-25935 .elementor-element.elementor-element-5c7cc6d4 {font-size: 17px;}}