.elementor-26661 .elementor-element.elementor-element-10bf5622 > .elementor-container {max-width: 650px;}
.elementor-26661 .elementor-element.elementor-element-10bf5622 {margin-top: -100px;margin-bottom: 0px;}
.elementor-26661 .elementor-element.elementor-element-74d9c5da .elementor-spacer-inner {height: 30px;}
.elementor-26661 .elementor-element.elementor-element-2c358f48 {text-align: left;}
.elementor-26661 .elementor-element.elementor-element-2c358f48 .elementor-image img {width: 40px;max-width: 40px;height: 40px;border-style: solid;border-width: 2px 2px 2px 2px;border-color: #fff;border-radius: 100% 100% 100% 100%;box-shadow: 0px 0px 38px 0px rgba(0,0,0,.19);}
.elementor-26661 .elementor-element.elementor-element-2c358f48 > .elementor-widget-container {margin: 30px 0px 0px 0px;}
.elementor-26661 .elementor-element.elementor-element-45b8d851 .elementor-heading-title {color: #333;font-size: 16px;mix-blend-mode: multiply;}
.elementor-26661 .elementor-element.elementor-element-45b8d851 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
body:not(.rtl) .elementor-26661 .elementor-element.elementor-element-45b8d851 {left: 59px;}
body.rtl .elementor-26661 .elementor-element.elementor-element-45b8d851 {right: 59px;}
.elementor-26661 .elementor-element.elementor-element-45b8d851 {top: 91px;}
.elementor-26661 .elementor-element.elementor-element-7a66b2d0 .elementor-text-editor {text-align: left;}
.elementor-26661 .elementor-element.elementor-element-7a66b2d0 {color: #999;font-size: 12px;top: 114px;}
body:not(.rtl) .elementor-26661 .elementor-element.elementor-element-7a66b2d0 {left: 60px;}
body.rtl .elementor-26661 .elementor-element.elementor-element-7a66b2d0 {right: 60px;}
.elementor-26661 .elementor-element.elementor-element-12692ea1 {--divider-border-style: solid;--divider-color: #dedede;--divider-border-width: .5px;}
.elementor-26661 .elementor-element.elementor-element-12692ea1 .elementor-divider-separator {width: 100%;}
.elementor-26661 .elementor-element.elementor-element-12692ea1 .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-26661 .elementor-element.elementor-element-1302365e {color: #3d3d3d;font-family: "Allan",Sans-serif;font-size: 18px;font-weight: normal;line-height: 36px;}
@media (max-width:767px) {.elementor-26661 .elementor-element.elementor-element-10bf5622 {padding: 25px 25px 25px 25px;}
	.elementor-26661 .elementor-element.elementor-element-74d9c5da .elementor-spacer-inner {height: 10px;}
	.elementor-26661 .elementor-element.elementor-element-1302365e {font-size: 17px;}}