.elementor-25972 .elementor-element.elementor-element-2bfdef02 > .elementor-container {max-width: 650px;}
.elementor-25972 .elementor-element.elementor-element-2bfdef02 {margin-top: -100px;margin-bottom: 0px;}
.elementor-25972 .elementor-element.elementor-element-5a70e3ca .elementor-spacer-inner {height: 30px;}
.elementor-25972 .elementor-element.elementor-element-4305c1cb {text-align: left;}
.elementor-25972 .elementor-element.elementor-element-4305c1cb .elementor-image img {width: 40px;max-width: 40px;height: 40px;border-style: solid;border-width: 2px 2px 2px 2px;border-color: #fff;border-radius: 100% 100% 100% 100%;box-shadow: 0px 0px 38px 0px rgba(0,0,0,.19);}
.elementor-25972 .elementor-element.elementor-element-4305c1cb > .elementor-widget-container {margin: 30px 0px 0px 0px;}
.elementor-25972 .elementor-element.elementor-element-74c3e1fe .elementor-heading-title {color: #333;font-size: 16px;mix-blend-mode: multiply;}
.elementor-25972 .elementor-element.elementor-element-74c3e1fe > .elementor-widget-container {margin: 0px 0px 0px 0px;}
body:not(.rtl) .elementor-25972 .elementor-element.elementor-element-74c3e1fe {left: 59px;}
body.rtl .elementor-25972 .elementor-element.elementor-element-74c3e1fe {right: 59px;}
.elementor-25972 .elementor-element.elementor-element-74c3e1fe {top: 91px;}
.elementor-25972 .elementor-element.elementor-element-113c3a3a .elementor-text-editor {text-align: left;}
.elementor-25972 .elementor-element.elementor-element-113c3a3a {color: #999;font-size: 12px;top: 114px;}
body:not(.rtl) .elementor-25972 .elementor-element.elementor-element-113c3a3a {left: 60px;}
body.rtl .elementor-25972 .elementor-element.elementor-element-113c3a3a {right: 60px;}
.elementor-25972 .elementor-element.elementor-element-b8cbb73 {--divider-border-style: solid;--divider-color: #dedede;--divider-border-width: .5px;}
.elementor-25972 .elementor-element.elementor-element-b8cbb73 .elementor-divider-separator {width: 100%;}
.elementor-25972 .elementor-element.elementor-element-b8cbb73 .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-25972 .elementor-element.elementor-element-5362fd10 {color: #3d3d3d;font-family: "Allan",Sans-serif;font-size: 18px;font-weight: normal;line-height: 36px;}
@media (max-width:767px) {.elementor-25972 .elementor-element.elementor-element-2bfdef02 {padding: 25px 25px 25px 25px;}
	.elementor-25972 .elementor-element.elementor-element-5a70e3ca .elementor-spacer-inner {height: 10px;}
	.elementor-25972 .elementor-element.elementor-element-5362fd10 {font-size: 17px;}}