.elementor-25570 .elementor-element.elementor-element-32e3086 > .elementor-container {max-width: 650px;}
.elementor-25570 .elementor-element.elementor-element-32e3086 {margin-top: -100px;margin-bottom: 0px;}
.elementor-25570 .elementor-element.elementor-element-7d9a8a0d .elementor-spacer-inner {height: 30px;}
.elementor-25570 .elementor-element.elementor-element-3a554eb7 {text-align: left;}
.elementor-25570 .elementor-element.elementor-element-3a554eb7 .elementor-image img {width: 40px;max-width: 40px;height: 40px;border-style: solid;border-width: 2px 2px 2px 2px;border-color: #fff;border-radius: 100% 100% 100% 100%;box-shadow: 0px 0px 38px 0px rgba(0,0,0,.19);}
.elementor-25570 .elementor-element.elementor-element-3a554eb7 > .elementor-widget-container {margin: 30px 0px 0px 0px;}
.elementor-25570 .elementor-element.elementor-element-9563f5e .elementor-heading-title {color: #333;font-size: 16px;text-shadow: 0px 0px 10px rgba(0,0,0,.3);mix-blend-mode: multiply;}
.elementor-25570 .elementor-element.elementor-element-9563f5e > .elementor-widget-container {margin: 0px 0px 0px 0px;}
body:not(.rtl) .elementor-25570 .elementor-element.elementor-element-9563f5e {left: 59px;}
body.rtl .elementor-25570 .elementor-element.elementor-element-9563f5e {right: 59px;}
.elementor-25570 .elementor-element.elementor-element-9563f5e {top: 91px;}
.elementor-25570 .elementor-element.elementor-element-659cd2c6 .elementor-text-editor {text-align: left;}
.elementor-25570 .elementor-element.elementor-element-659cd2c6 {color: #999;font-size: 12px;top: 114px;}
body:not(.rtl) .elementor-25570 .elementor-element.elementor-element-659cd2c6 {left: 60px;}
body.rtl .elementor-25570 .elementor-element.elementor-element-659cd2c6 {right: 60px;}
.elementor-25570 .elementor-element.elementor-element-28d2aee8 {--divider-border-style: solid;--divider-color: #dedede;--divider-border-width: .5px;}
.elementor-25570 .elementor-element.elementor-element-28d2aee8 .elementor-divider-separator {width: 100%;}
.elementor-25570 .elementor-element.elementor-element-28d2aee8 .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-25570 .elementor-element.elementor-element-2fad5002 {color: #3d3d3d;font-size: 18px;font-weight: normal;line-height: 36px;}
@media (max-width:767px) {.elementor-25570 .elementor-element.elementor-element-32e3086 {padding: 25px 25px 25px 25px;}
	.elementor-25570 .elementor-element.elementor-element-7d9a8a0d .elementor-spacer-inner {height: 10px;}
	.elementor-25570 .elementor-element.elementor-element-2fad5002 {font-size: 17px;}}